{% assign filtered_rooms = site.artworks | where: 'room', page.title %}
<assets>
{% for artwork in filtered_rooms %}
  <img id="{{ artwork.title | downcase | replace: ' ', '-'}}" 
       src="../assets/artwork/{{ artwork.image }}">
{% endfor %}
</assets>
<a-entity arrange-gallery
          rotation="0 90 0">
{% for artwork in filtered_rooms %}
  {% if artwork.image %}
  <a-entity class="artwork"
    rotation="0 90 0">
          <a-plane
            height="0.25"
            width="0.8"
            position="-0.25 0 1.2"
            rotation="0 -90 0">
              <a-entity
                position="-0.3 0 0">
                <a-text 
                  position="0 0.05 0"
                  width="1"
                  color="black"
                  value="{{ artwork.artist }}"></a-text>
                <a-text 
                  position="0 0 0"
                  width="1"
                  color="black"
                  value="{{ artwork.title }}, {{ artwork.created }}"></a-text>
              </a-entity>
          </a-plane>
          <a-image 
            image-size
            position="-0.2 0 0"
            rotation="0 -90 0"
            src="#{{ artwork.title | downcase | replace: ' ', '-'}}">
            <a-box 
            rotation="0 90 0"
            position="0 0 -0.05"
            class="frame"
            color="tomato" 
            width="0.05">
            </a-box>
          </a-image>
          
  </a-entity>
  {% endif %}
{% endfor %}

  {% if page.next.url %}
      <a-box
      id="next"
      class="link"
      rotation="0 0 0"
      link="href: {{ '/' | relative_url }}rooms/{{ page.next.title | downcase | replace: ' ', '-'}}; 
      title:{{ page.next.title }};"
      color="black" depth="2" height="2.5" width="0.05">
      <a-text 
      align="center"
      position="0 1.8 0"
      rotation="0 -90 0"
      value="{{ page.next.title }}"></a-text>
     </a-box>
  {% endif %}
    <a-box
    id="exit"
    class="link"
    rotation="0 0 0"
    link="href: {{ '/' | relative_url }}; 
    title:{{ page.next.title }};"
    color="black" depth="2" height="2.5" width="0.05">
    <a-text 
    align="center"
    position="0 1.8 0"
    rotation="0 -90 0"
    value="Exit"></a-text>
   </a-box>
</a-entity>