{% assign filtered_rooms = site.artworks | where: 'room', page.title %}
<assets>
{% for artwork in filtered_rooms %}
  <img id="{{ artwork.title | downcase | replace: ' ', '-'}}" 
       src="../assets/artwork/{{ artwork.image }}">
{% endfor %}
</assets>
<a-entity arrange-gallery
          rotation="0 90 0">
{% for artwork in filtered_rooms %}
  {% if artwork.image %}
  <a-entity class="artwork"
    rotation="0 90 0">
    <a-box color="tomato" 
            depth="2" 
            height="2" 
            width="0.05">
          <a-text value="{{ artwork.title }}"
                rotation="0 -90 0"></a-text>
          <a-image 
            image-size
            position="-0.2 0 0"
            rotation="0 -90 0"
            src="#{{ artwork.title | downcase | replace: ' ', '-'}}"></a-image>
    </a-box>
  </a-entity>
  {% endif %}
{% endfor %}

  {% if page.next.url %}
      <a-link 
      rotation="0 -90 0"
      id="next"
      href="{{ '/' | relative_url }}rooms/{{ page.next.title | downcase | replace: ' ', '-'}}"
      title="{{page.next.title}}"></a-link>
  {% endif %}
  <a-link 
    rotation="0 -90 0"
    id="exit"
    href="{{ '/' | relative_url }}"
    title="Exit"></a-link>
</a-entity>