<head>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.0/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
    <script src="https://unpkg.com/aframe-aabb-collider-component@3.1.0/dist/aframe-aabb-collider-component.min.js"></script>
    <script src="{{ '/' | relative_url }}assets/js/arrange.js"></script>
    <script src="{{ '/' | relative_url }}assets/js/arrange-gallery.js"></script>
    <script src="{{ '/' | relative_url }}assets/js/image-size.js"></script>
    <script src="{{ '/' | relative_url }}assets/js/link-collide.js"></script>
</head>